<div class="alert alert-danger" *ngIf='error'>{{error}}</div>
<div class="col-md-4 offset-md-4 mt-5 card">
  <div class="card-header">
    <h4 class="navbar navbar-expand-sm navbar-dark bg-success">UpdateProduct</h4>
  </div>
  <div class="card-body">
    <form #updateProductForm='ngForm' (ngSubmit)='updateProduct(updateProductForm)' method="POST" role="form">
     
        <input type="number" name="id" required minlength="1" id="id" #id='ngModel' ngModel class="form-control mb-3"
        placeholder="Enter Product Id..">
      <div *ngIf="id.invalid && id.touched">
        <p *ngIf="id.errors.required" class="text-danger">*This field is mandatory
          <p *ngIf="id.errors.minlength" class="text-danger">*This field accepts minimum
            1 characters
      </div>
        <input type="text" name="name" required minlength="3" id="name" #name='ngModel' ngModel class="form-control mb-3"
        placeholder="Enter Product Name..">
      <div *ngIf="name.invalid && name.touched">
        <p *ngIf="name.errors.required" class="text-danger">*This field is mandatory
          <p *ngIf="name.errors.minlength" class="text-danger">*This field accepts minimum
            3 characters
      </div>

      <input type="text" name="category" required minlength="3" id="category" #category='ngModel' ngModel
        class="form-control mb-3" placeholder="Enter Category..">
      <div *ngIf="category.invalid && category.touched">
        <p *ngIf="category.errors.required" class="text-danger">*This field is mandatory
          <p *ngIf="category.errors.minlength" class="text-danger">*This field accepts
            minimum 3 characters
      </div>
      <input type="text" name="company" required minlength="3" id="company" #company='ngModel' ngModel
        class="form-control mb-3" placeholder="Enter company..">
      <div *ngIf="company.invalid && company.touched">
        <p *ngIf="company.errors.required" class="text-danger">*This field is mandatory
          <p *ngIf="company.errors.minlength" class="text-danger">*This field accepts
            minimum 3 characters
      </div>
      
      <input type="number" name="quantity" required minlength="1" id="quantity" #quantity='ngModel' ngModel
      class="form-control mb-3" placeholder="Enter Quantity..">
    <div *ngIf="quantity.invalid && quantity.touched">
      <p *ngIf="quantity.errors.required" class="text-danger">*This field is mandatory
        <p *ngIf="quantity.errors.minlength" class="text-danger">*This field accepts
          minimum 1 characters
    </div>

    <input type="number" name="price" required minlength="1" id="price" #price='ngModel' ngModel
    class="form-control mb-3" placeholder="Enter Price..">
  <div *ngIf="price.invalid && price.touched">
    <p *ngIf="price.errors.required" class="text-danger">*This field is mandatory
      <p *ngIf="price.errors.minlength" class="text-danger">*This field accepts
        minimum 1 characters
  </div>

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
        [disabled]="updateProductForm.invalid">Update Product</button>
    </form>
  </div>
</div>
